# Copy to .env.local for local run
# Server
SERVER_PORT=8002

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=bio-ml-service

# Kafka Topics
KAFKA_TOPIC_BIOMETRIC_RAW=rebloom.biometric.raw.v1
KAFKA_TOPIC_AI_MODEL_TRAIN_REQUESTED=rebloom.ai.model.train.requested.v1
KAFKA_TOPIC_AI_ANALYZE_REQUESTED=rebloom.ai.analyze.requested.v1
KAFKA_TOPIC_ANOMALY_VERIFIED=rebloom.anomaly.verified.v1
KAFKA_TOPIC_PHQ_RESULT=rebloom.phq.result.v1

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Model
MODEL_DIR=./model