# Copy to .env.local for local run
# Server
SERVER_PORT=8002

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_GROUP_ID=bio-ml-service

# Kafka Topics
KAFKA_TOPIC_BIOMETRIC_RAW=rebloom.biometric.received.v1
KAFKA_TOPIC_AI_MODEL_TRAIN_REQUESTED=rebloom.model.training.requested.v1
KAFKA_TOPIC_AI_ANALYZE_REQUESTED=rebloom.model.retraining.requested.v1
KAFKA_TOPIC_ANOMALY_VERIFIED=rebloom.anomaly.analysed.v1
KAFKA_TOPIC_PHQ_RESULT=rebloom.phq.completed.v1
KAFKA_TOPIC_GPS_CHECK_REQUEST=rebloom.gps-check.requested.v1
KAFKA_TOPIC_GPS_CHECK_SAME=rebloom.gps-check.same.v1
KAFKA_TOPIC_GPS_CHECK_DIFFERENT=rebloom.gps-check.different.v1
KAFKA_TOPIC_STATUS_CARD_REQUESTED=rebloom.status-card.requested.v1
KAFKA_TOPIC_STATUS_CARD_CREATED=rebloom.status-card.created.v1

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# GPS check
AUTH_SERVICE_URL=http://auth-service:8081

GPS_CHECK_RADIUS_METERS=100
GPS_CHECK_PENDING_TTL_SECONDS=300

# Model
MODEL_DIR=./app/model
AWS_ACCESS_KEY_ID=<aws-access-key-id>
AWS_SECRET_ACCESS_KEY=<aws-secret-access-key>
AWS_REGION=ap-northeast-2
MODEL_S3_BUCKET=rebloom-bucket
MODEL_S3_PREFIX=models
BASE_PHQ_MODEL_S3_KEY=models/base/phq_model.pkl
USER_MODEL_S3_PREFIX=models/users

#GMS
GMS_KEY=<gms-key>
GMS_CHAT_COMPLETIONS_URL=https://gms.ssafy.io/gmsapi/api.openai.com/v1/chat/completions
GMS_MODEL=gpt-5-mini
GMS_TIMEOUT_SECONDS=60