<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Samsung Health SDK -->
    <queries>
        <package android:name="com.sec.android.app.shealth" />
    </queries>

    <application
        android:name=".base.RebloomApplication"
        android:allowBackup="true"
        android:label="Re:Bloom"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ReBloom.WebView">

        <activity
            android:name=".webview.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".wear.WearDataListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:host="*"
                    android:pathPrefix="/biometric"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".permission.SleepPermissionActivity"
            android:exported="false" />

    </application>

</manifest>
