# =================================================================
# Re:Bloom Project - Database Configuration Example
# =================================================================

# [Common]
# 컨테이너 및 서비스의 시간대 설정 (한국 표준시: Asia/Seoul)
TZ=Asia/Seoul

# [PostgreSQL / TimescaleDB]
# 컨테이너 실행 시 자동으로 생성될 데이터베이스 이름입니다.
POSTGRES_DB=<postgres-db-name>
# 데이터베이스에 접속할 관리자 계정 이름입니다.
POSTGRES_USER=<postgres-user-name>
# 데이터베이스 계정에 대한 비밀번호입니다. 
POSTGRES_PASSWORD=<postgres-user-password>