# Copy to .env.local for local run
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=local
AUTH_SERVICE_URI=http://localhost:8081
BIOMETRIC_SERVICE_URI=http://localhost:8083
REPORT_SERVICE_URI=http://localhost:8084
NOTIFICATION_SERVICE_URI=http://localhost:8085
AIOT_AI_SERVICE_URI=http://localhost:8001
BIO_ML_SERVICE_URI=http://localhost:8002
EMOTION_INFERENCE_SERVICE_URI=http://localhost:8003
