SERVER_PORT=8081
DB_HOST=k14b109.p.ssafy.io
DB_PORT=5432
DB_NAME=rebloom_auth
DB_USERNAME=rebloom
DB_PASSWORD=change-this-password
DB_SSL_MODE=disable
SPRING_PROFILES_ACTIVE=local

# JWT
JWT_SECRET=e5b280eb1cf56482973d3b141e8375e42226e0ecaf3387eeb37eae1ce1eef08d9466f8bf0000e56ae665c1c62bccdee212fde89df529ce6a00e34a63205f63c6
JWT_ACCESS_TOKEN_TIME=1800000  # 30분
JWT_REFRESH_TOKEN_TIME=1209600000 # 14일

# MAIL
MAIL_USERNAME=rebloom109@gmail.com
MAIL_PASSWORD=wpez sfbb jscc vpme

#OAUTH
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/login/oauth2/code/google
OAUTH2_SUCCESS_REDIRECT_URL=http://localhost:5174/oauth/callback
# OAUTH2_SUCCESS_REDIRECT_URL=https://d1zs5r6o9orkcb.cloudfront.net/oauth/callback

GOOGLE_CLIENT_ID=499137301072-df8flnc78dq5sb2374ev9mme3kda6ss5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
KAKAO_CLIENT_ID=a957c76e224eb5e4e556637f090727fa
KAKAO_CLIENT_SECRET=NTwz0ktNTWYGxmmH3pEsTGKY0DKEVcmA
