# Copy to .env.local for local run
SERVER_PORT=8083
DB_HOST=<shared-postgres-host>
DB_PORT=5432
DB_NAME=rebloom_biometric
DB_USERNAME=rebloom
DB_PASSWORD=<database-password>
DB_SSL_MODE=disable
SPRING_PROFILES_ACTIVE=local

# [Redis]
REDIS_HOST=<redis-host>
REDIS_PORT=<redis-port>

KAFKA_TOPIC_BIOMETRIC_RECEIVED=<생체데이터 토픽>
KAFKA_TOPIC_SLEEP_RECEIVED=<수면데이터 토픽>
KAFKA_TOPIC_ANOMALY_ANALYSED=<이상치 검증 토픽>
KAFKA_TOPIC_MODEL_TRAINING_REQUESTED=<모델훈련 요청 토픽>
KAFKA_TOPIC_MODEL_RETRAINING_REQUESTED=<모델훈련 재요청 토픽>
KAFKA_TOPIC_PHQ_COMPLETED=<PHQ학습완료>
KAFKA_TOPIC_EVENT_DLT=<DeadLetterTopic>