.git
.gitignore
.gitlab
.idea
.vscode
.gradle
**/build/*
!**/build/libs/
!**/build/libs/*.jar
!services/*/build/libs/*.jar
services/*/gradle
services/*/gradlew
services/*/gradlew.bat
services/*/settings.gradle
**/.env.local
**/.env.prod
**/.env.*
!**/.env.example
!**/.env.prod.example
README.md
