DOCKER_NAMESPACE=<도커 계정명>

AUTH_IMAGE_TAG=<해당 서비스 이미지 태그>
GATEWAY_IMAGE_TAG=<해당 서비스 이미지 태그>
REPORT_IMAGE_TAG=<해당 서비스 이미지 태그>
AI_IMAGE_TAG=<해당 서비스 이미지 태그>
BIOMETRIC_IMAGE_TAG=<해당 서비스 이미지 태그>
NOTIFICATION_IMAGE_TAG=<해당 서비스 이미지 태그>

GATEWAY_PORT=<게이트웨이 포트>