DOCKER_NAMESPACE=<docker-namespace>

AUTH_IMAGE_TAG=<auth-image-tag>
GATEWAY_IMAGE_TAG=<gateway-image-tag>
REPORT_IMAGE_TAG=<report-image-tag>
AI_IMAGE_TAG=<ai-image-tag>
BIOMETRIC_IMAGE_TAG=<biometric-image-tag>
NOTIFICATION_IMAGE_TAG=<notification-image-tag>

GATEWAY_PORT=8080

# Gateway CORS origins for deployed frontend.
FRONTEND_URL=https://d1zs5r6o9orkcb.cloudfront.net
FRONTEND_REDIRECT_URL=https://d1zs5r6o9orkcb.cloudfront.net
